<a href="https://colab.research.google.com/github/jaypear92/OpenSource_TermProject.ipynb/blob/main/OpenSource_TermProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('online_store.db')
cursor = conn.cursor()

In [3]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Products (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    price REAL,
                    category TEXT)''')

store_items = [
    (1, "Laptop", 1000, "Electronics"),
    (2, "Smartphone", 800, "Electronics"),
    (3, "T-shirt", 20, "Clothing"),
    (4, "Jeans", 50, "Clothing"),
    (5, "Headphones", 100, "Electronics"),
    (6, "Sneakers", 80, "Clothing"),
    (7, "Book", 15, "Books"),
    (8, "Desk Lamp", 30, "Home & Office"),
    (9, "Watch", 150, "Accessories"),
    (10, "Backpack", 40, "Accessories"),
    (11, "Tablet", 300, "Electronics"),
    (12, "Dress", 70, "Clothing"),
    (13, "Gaming Console", 400, "Electronics"),
    (14, "Keyboard", 50, "Electronics"),
    (15, "Mouse", 20, "Electronics"),
    (16, "Sunglasses", 25, "Accessories"),
    (17, "Hoodie", 35, "Clothing"),
    (18, "Printer", 200, "Electronics"),
    (19, "Speaker", 80, "Electronics"),
    (20, "Camera", 500, "Electronics"),
    (21, "Pants", 45, "Clothing"),
    (22, "Ring", 200, "Accessories"),
    (23, "Scanner", 150, "Electronics"),
    (24, "Scarf", 15, "Clothing"),
    (25, "Perfume", 60, "Accessories")
]

cursor.executemany('INSERT INTO Products VALUES (?, ?, ?, ?)', store_items)

conn.commit()
conn.close()

print("Database created successfully.")

Database created successfully.

In [10]:

class Product:
    def __init__(self, id, name, price, category):
        self.id = id
        self.name = name
        self.price = price
        self.category = category

class OrderItem:
    def __init__(self, product, quantity):
        self.product = product
        self.quantity = quantity

    def subtotal(self):
        subtotal = self.product.price * self.quantity
        if self.quantity >= 10:
            subtotal *= 0.95
        return subtotal

class Order:
    def __init__(self):
        self.items = []

    def add_item(self, item):
        self.items.append(item)

    def subtotal(self):
        return sum(item.subtotal() for item in self.items)

    def total(self):
        subtotal = self.subtotal()
        if subtotal < 75:
            subtotal += 9.99
        total = subtotal * 1.13
        return total

    def generate_receipt(self):
        receipt = "Receipt:\n"
        for item in self.items:
            receipt += f"{item.product.name}: ${item.subtotal():.2f}\n"
        receipt += f"Subtotal: ${self.subtotal():.2f}\n"
        receipt += f"Tax (13%): ${self.subtotal() * 0.13:.2f}\n"
        receipt += f"Total: ${self.total():.2f}"
        return receipt

def get_product_details(product_id):
    conn = sqlite3.connect('online_store.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM Products WHERE id=?", (product_id,))
    product_data = cursor.fetchone()
    conn.close()
    if product_data:
        return Product(*product_data)
    else:
        return None

Receipt:
Laptop: $2000.00
Smartphone: $4800.00
Subtotal: $6800.00
Tax (13%): $884.00
Total: $7684.00