<a href="https://colab.research.google.com/github/jaypear92/OpenSource_TermProject.ipynb/blob/main/OpenSource_TermProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('online_store.db')
cursor = conn.cursor()

In [3]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Products (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    price REAL,
                    category TEXT)''')

store_items = [
    (1, "Laptop", 1000, "Electronics"),
    (2, "Smartphone", 800, "Electronics"),
    (3, "T-shirt", 20, "Clothing"),
    (4, "Jeans", 50, "Clothing"),
    (5, "Headphones", 100, "Electronics"),
    (6, "Sneakers", 80, "Clothing"),
    (7, "Book", 15, "Books"),
    (8, "Desk Lamp", 30, "Home & Office"),
    (9, "Watch", 150, "Accessories"),
    (10, "Backpack", 40, "Accessories"),
    (11, "Tablet", 300, "Electronics"),
    (12, "Dress", 70, "Clothing"),
    (13, "Gaming Console", 400, "Electronics"),
    (14, "Keyboard", 50, "Electronics"),
    (15, "Mouse", 20, "Electronics"),
    (16, "Sunglasses", 25, "Accessories"),
    (17, "Hoodie", 35, "Clothing"),
    (18, "Printer", 200, "Electronics"),
    (19, "Speaker", 80, "Electronics"),
    (20, "Camera", 500, "Electronics"),
    (21, "Pants", 45, "Clothing"),
    (22, "Ring", 200, "Accessories"),
    (23, "Scanner", 150, "Electronics"),
    (24, "Scarf", 15, "Clothing"),
    (25, "Perfume", 60, "Accessories")
]

cursor.executemany('INSERT INTO Products VALUES (?, ?, ?, ?)', store_items)

conn.commit()
conn.close()

print("Database created successfully.")

Database created successfully.